<!-- Page Content -->
<div class="container">
  <h1 class="mt-4 mb-3">Your Profile</h1>   
  <div class="row">
        <div class="col-8">
          <div class="img-responsive img-circle">
            <%if @profile.avatar.attached?%>
                <%= image_tag @profile.avatar.variant(resize: "100x100"), alt: 'picture' %>
            <% else %>
                <img alt="profile picture" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" width="100%">
            <%end%>
          </div>
        </div>
        <div class="col-4">
          <div class="card-body">
              <h5 class="card-title">First name:</h5>
              <p class="card-text"><%= @profile.first_name %></p>
              <h5 class="card-title">Last name:</h5>
              <p class="card-text"><%= @profile.last_name %></p>
              <h5 class="card-title">Description:</h5>
              <p class="card-text"><%= @profile.description %></p>
              <%= link_to "Edit your profile infos", edit_profile_path(@profile), :class => "btn btn-secondary btn-xl text-uppercase js-scroll-trigger"%>
          </div>
          <div class="card-body">
            <h5 class="card-title">E-mail:</h5>
            <p class="card-text"><%= current_user.email %></p><p><%= link_to "Edit email/password", edit_user_registration_path, :class => "btn btn-secondary btn-xl text-uppercase js-scroll-trigger"%></p>
          </div> 
      </div>
  </div> 
  <div class="container">
    <div class="row">
        <h1 class="mt-4 mb-3">Your Event</h1>
          <div class="container">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Title</th>
                  <th scope="col">Date</th>
                  <th scope="col">Price</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <% @events.each do |event| %>
                    <tr>
                      <td>
                        <%if event.picture.attached?%>
                              <%= link_to (image_tag event.picture.variant(resize: "100x100"), alt: 'picture'), event_path(event.id) %>
                          <%else%>
                              <%= link_to image_tag("default_profile_avatar.png", size: "100x100"), event_path(event.id) %>
                          <%end%>
                        </td>
                        <td><%= event.title %></td>
                        <td><%= date(event.start_date) %></td>
                        <td><%= event.price %> €</td>
                        <td><%= link_to "Show Event", event_path(event.id), class: "btn btn-secondary btn-xl text-uppercase js-scroll-trigger"%></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>