<div class="container">
    <div class="row">
        <div class="col-8">
        <%if @event.picture.attached?%>
            <%= image_tag @event.picture, class: "card-img-top embed-responsive-item", alt: 'picture' %>
        <% else %>
            <img alt="event picture" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" width="100%">
        <%end%>
        </div>
        <div class="col-4">
        <strong>Lieu&nbsp;: </strong><%= @event.location %><br/>
        <strong>Date&nbsp;: </strong><%= date(@event.start_date) %><br/>
        <strong>Durée&nbsp;: </strong><%= @event.duration %><br/>
        <strong>Prix&nbsp;: </strong><%= @event.price %> €<br/>
        <strong>Organisateur&nbsp;: <%= @event.creator.profile.full_name %></strong><br/><br/>
        <% if current_user %>
            <% if current_user.id == @event.admin %>
                <%= link_to "Mon espace évènement", attendances_path(id: @event), class: "btn btn-secondary"%>
            <% elsif current_user.id == @event.admin || @event.participale?(current_user) %>
                <%= link_to "Tu participe déjà à l'évènement", class: "btn btn-secondary"%>
            <% elsif free(@event) %>
                <%= link_to "Participer à l'évènement", free_subscribe_path(id: @event), class: "btn btn-primary"%>
            <% else %>
                <%= form_tag subscribes_path do %>
                    <article>
                        <% if flash[:error].present? %>
                        <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                        </div>
                        <% end %>
                    </article>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="Event subscription"
                            data-amount="<%= @event.price * 100 %>"
                            data-currency="eur"
                            data-locale="auto">
                    </script>
                <% end %>
            <% end %>
        <% else %>
            <%= link_to "Participer à l'évènement", free_subscribe_path(id: @event), class: "btn btn-primary"%>
        <% end %>  
        </div>
    </div>
    <div class="row mt-3 type-event text-primary">
        <div class="col-md-8">
            <h3><%= @event.title %></h3>
            <i class="fas fa-hamburger mr-2 text-muted" title="Food"></i>
            <i class="fas fa-pizza-slice mr-2 text-muted" title="Food"></i>
            <i class="fas fa-beer mr-2 text-muted" title="Drink"></i>
            <i class="fas fa-music mr-2 text-muted" title="Music"></i>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <p><%= @event.description %></p>
        </div>
    </div>
    <div class="row center">
        <div class="col-md-6">
            <h4>
            <a href="#" class="text-info mr-1"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-info mr-1"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="text-info mr-1"><i class="fab fa-twitter-square"></i></a>
            </h4>
        </div>
    </div>
</div>

