<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "EVENTBRITE", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>  
    </div>
    <% if current_user %> 
        <%= link_to "Profile", profile_path(current_user.profile), class: "btn btn-outline-primary space_left_button" %> 
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary space_left_button" %>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary space_left_button" %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary space_left_button" %>
    <% end %>
</nav>